@mixin respond($breakpoint) {
  //tablets in potriate mode && phones in landscape
  @if $breakpoint == tab-port {
    @media(min-width: 600px) {
      @content
    };
  }

  //tablets in  landscape mode
  @if $breakpoint == tab-land {
    @media(min-width: 765px) {
      @content
    };
  }

  //Normal sized desktops
  @if $breakpoint == desktop {
    @media(min-width: 1000px) {
      @content
    };
  }


  //Big desktops
  @if $breakpoint == big-desktop {
    @media(min-width: 1800px) {
      @content
    };
  }
}
