.header{
  width: 100%;
  display: block;
  min-height: 4rem;
  background: $color-primary;
  color: $color-white;
  padding-top: 1rem;
  &__logo{
    display: block;
    float: left;
  }
  &__links{
    float: right;
    display: block;
    padding-right: 1rem;

    &--list{
      display: flex;
      justify-content: space-between;

      &-item{
        display: flex;
        list-style-type: none;
        padding: 0 1rem;

        &:hover{
          font-size: 1.1rem;
          transform: translateY(-0.2rem);
        }
      }
    }

  }
}
