.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background: $color-primary;
  color: $color-white;
  padding-top: 1rem;


  &__logo{
    display: block;
    float: left;
    padding-left: 1.5rem;
    padding-top: -0.75rem;
    @include respond(tab-port){
      padding-left: .5rem;
    }

    &--svg{
      font-size: 1.5rem;
    }

    &:hover{
      transform: translateY(-0.1rem);
    }
  }
  &__links{
    float: right;
    display: block;
    padding-right: 1rem;
    position: relative;

    @include respond(tab-port) {
      display: none;
      background-color: $color-primary;
      position: absolute;
      top: 4rem;
      right:0;
      z-index: 99;
      width: 20rem;
      line-height: 2rem;
      font-size: 1.2rem;

    }



    &--list{
      display: flex;
      justify-content: space-between;
      @include respond(tab-port) {
        display: block;
      }


      &-item{
        display: flex;
        list-style-type: none;
        padding: 0 1rem;
        @include respond(tab-port) {
          display: block;
          // height: 3rem;
          margin: 2rem 0;
          text-align: center;
          width: 100%;
          font-weight: bolder;
          &:active{
            text-decoration: underline;
          }
        }

        &:hover{
          font-size: 1.1rem;
          transform: translateY(-0.2rem);
        }
      }
    }

  }

  &__menu{
    float: right;
    display: none;
    width: 40px;
    margin-right: 2rem;
    @include respond(tab-port){
      display: block;
      margin-right: 0.5rem;
    }
  }
}
.header__links--responsive{
  display: block;
}
.hide-icon{
  display: none;
}
