/* Hex code of color used was  #55A8AE; */
/* The Logo is hand drawn */
/* All other resources should be downloaded on your own */
 @import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
 
 /*font-family: Ubuntu,
sans-serif;
font-family: Lora,
serif*/
body{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: lightgray;
    font-family: Lora,serif;
}
.contact-container{
    background-color: lightgrey;
    
    
}
h1{
    color:#55a8ae;
    text-align:center;
    margin: 10px 0px;
}
.locate{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container #map{
    width:350px;
    height: 300px;
    
}
.form{
    background-color: #55a8ae;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    height: 280px;
    width:300px;
    margin: 20px 0;
    
}
.form input, textarea{
    outline: none;
    border: none;
    color: black;
    margin: 5px 0;
    font-size: 16px;
    padding:10px 0px 10px 10px;
}
input{
    height: 30px;
}
button{
    text-align: center;
    cursor:pointer;
    background-color: #fff;
    outline:none;
    height: 30px;
    border: none;
    color:black;

}
button:focus{
    background-color: darkgrey;
}
/* footer styling*/
.footer{
    height: 400px;
    background: #55a8ae;
    color: white;
}
.logo{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 55px;
    
}
.footer-content{
    margin-top: 20px;
    
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.location, .phone, .email{
    margin: 10px 0;
}

ul{
    list-style:none;
    margin:0px;
}
li{
    color:white;

}
a{
    text-decoration: none;
    color:white;
    text-align: center;
}
.socials{
    margin-left: 24px;
    margin-top: 20px;
    
    display: flex;
    justify-content: space-between;
}
/*media query*/
