/* Hex code of color used was  #55A8AE; */
/* The Logo is hand drawn */
/* All other resources should be downloaded on your own */
/* @import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
 */
 /* font-family: Ubuntu,
sans-serif;
font-family: Lora,
serif; */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.carousel-item .img-fluid {
    width:100%;
    height:100%;
  }

  .dtext{
      color: #55A8AE;
      font-size: 65px;
    line-height: 79px;
    font-family: 'Montserrat', sans-serif;
  }
  .text{
      font-family:'Montserrat', sans-serif ;
      font-size: 25px;
  }