/* Hex code of color used was  #55A8AE; */
/* The Logo is hand drawn */
/* All other resources should be downloaded on your own */
/* @import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
 */
 /* font-family: Ubuntu,
sans-serif;
font-family: Lora,
serif; */

*{
	font-family: sans-serif, Ubuntu, Lora;
	
	color: #ffff;

}

.nav-list{
	/*text-align: center;*/
	font-weight: bolder!important;
}
.nav-list li{
	margin-right: 40px;
	font-size: 20px;
}
.nav-item a{
	color: #ffff!important;
	
}
.nav-item a:hover{
	color: #1fcfc6!important;
	
}
.col-md-4 a{
	color: #ffff;
	text-decoration: none;
}

.footer-icons{
	margin-left: 46PX;
}
.footer-icons i{
	margin-right: 20px
}
.footer-details a:hover{
	color: #1fcfc6!important;
}