/* Hex code of color used was  #55A8AE; */
/* The Logo is hand drawn */
/* All other resources should be downloaded on your own */
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import 'font.css';
 /* font-family: Ubuntu,
sans-serif;
font-family: Lora,
serif; */  

.header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-container {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 550px;
    border: 1px solid #ccc;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-container .slider {
    height: 100%;
    display: flex;
    width: 400%;
    transition: all .3s;
}

.carousel-container .slider section {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.carousel-container .controls .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.carousel-container .arrow.left {
    left: 1rem;
}

.carousel-container .arrow.right {
    right: 1rem;
}

#content-one {
    background-image: url(Resources/Unsplash-bed1.png);
}

#content-two {
    background-image: url(Resources/bed-1.jpg);
}

#content-three {
    background-image: url(Resources/bed-2.jpg);
}

#content-four {
    background-image: url(Resources/bed-3.jpg);
}
#content-five {
    background-image: url(Resources/Unsplash-bed1.png);
}

.carousel-container section div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-container section div h1 {
    font-size: 100px;
    color: #fff;
    line-height: 122px;
    margin: 0 0 2rem 0;
    text-align: center;
}

.carousel-container section div button {
    width: 251px;
    height: 80px;
    background-color: #55A8AE;
    border: 1px solid transparent;
    outline: none;
    border-radius: 3rem;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.carousel-container .arrow {
    width: 40px;
    height: 40px;
    background-color: #55A8AE;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container .controls ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 0;
    margin: 0;
}

.carousel-container .controls ul li {
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    list-style: none;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.carousel-container .controls ul li.selected {
    background: #fff;
}

/* Responsiveness */
@media screen and (max-width: 1250px) {
    .carousel-container section div h1 {
        font-size: 80px;
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .carousel-container section div h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 900px) {
    .carousel-container section div h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 790px) {
    .carousel-container section div h1 {
        font-size: 50px;
        margin-bottom: .5rem;
    }
}

@media screen and (max-width: 400px) {
    .carousel-container .left, .carousel-container .right {
        display: none;
    }
} 
=======
/*== General ==*/

@import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
@import 'font.css';

body{
 font-family: "Ubuntu", "sans-serif";
}


/*== nav section ==*/
.nav-bluish{
	background: #55A8AE;
	font-size: 18px;
}

.nav-logo-size{
	height:60px;
	width: 60px;
}


/*== Footer section ==*/
.bluish{
	background: #55A8AE;
	font-size: 12px;
}

.logo-size{
	height:60px;
	width:100px;
	padding-left:40px;
}

.padding-left{
	margin-left:40px;
}


.no-bullet{
	list-style-type: none;
}

i.icon-location, i.icon-phone, i.icon-mail {
    padding-top: 5px;
}

