/* Hex code of color used was  #55A8AE; */
/* The Logo is hand drawn */
/* All other resources should be downloaded on your own */
/* @import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
 */
/* font-family: Ubuntu,
sans-serif;
font-family: Lora,
serif; */


body {
    background-color: #f5f5f5;
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
}
.heading h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    color:#55A8AE;
}
#checkIn {
    border: none;
    width: 100%;
    padding: 10px;
    height: 35px;
    font-weight: bold;
    font-size: 16px;
}
#list {
    border: none;
    width: 100%;
    padding: 10px;
    height: 35px;
    font-weight: bold;
    font-size: 16px;
}
#check {
    width: 60%;
    border: none;
    background-color:  #55A8AE;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    font-size: 19px;
    margin-top: 20px;
    margin-left: 18%;
    letter-spacing: 0.2rem;
}
.room {
    background-color: #fff;
    padding-top: 20px;
}
.sub-heading {
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
}
.rates {
    padding-top: 40px;
}
.deluxe h5 {
    margin-bottom: 0px;
    font-weight: 800;
}
.standard h5 {
    margin-bottom: 0px;
    font-weight: 800;
}
.rates {
    font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, sans-serif, Lora, serif;
}

nav {
  width: 100%;
  height: 10vh;
  position: sticky;
  margin: 20px auto;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #55a8ae;
}
.logo {
  display: inline;
  text-align: center;
  margin-left: 10vw;
}
.logo img {
  flex: auto;
  width: 100px;
}
.nav-links {
  flex: 1;
  text-align: center;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 30px;
  font-size: 20px;
}


