    /* Hex code of color used was  #55A8AE; */
    /* The Logo is hand drawn */
    /* All other resources should be downloaded on your own */
    /* @import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
 */

 /*font-family: Ubuntu,
sans-serif;
font-family: Lora,
serif; */

/* CONTACT PAGE STYLES */
.contact{
  font-family: Lora, serif; 
  background: #f0f0f0;
}

.contact-wrapper {
  margin: 30px 50px;
}

.contact-image {
  width: 100%;
}

#contact {
  color: #55A8AE;
}

.contact-left {
  background: #55A8AE;
}

.contact-btn {
  background: white;
}

    /* font-family: Ubuntu,
sans-serif;
font-family: Lora,
serif; */
    
    * {
        margin: 0;
        padding: 0;
        /* font-family: Ubuntu, sans-serif; */
        font-family: Lora, serif;
    }
    /* start of navbar and footer */
    
    nav {
        background-color: #55A8AE;
    }
    
    img {
        height: 60px;
        width: 60px;
        margin-left: 2em;
    }
    
    #header-ul {
        margin-left: 23em;
    }
    
    #header-li>a {
        font-size: 24px;
    }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* OFFER SECTION*/

.facility {
    width: 100%;
    overflow: hidden;

    color: #fff;
}

.facility h1 {
    font-size: 45px;
    padding: 20px;
    text-align: center;
    color: #55A8AE;
}

.facBg {
    background: url(./Resources/beige-concrete-building-3126553\ 1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.facContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 65px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 85px 45px;
}

.bar img {
    margin-left: 56px;
}

.facContentWrapper img {
    width: 250px;
    height: 200px;
    object-fit: contain;
}

.facContentWrapper p {
    font-size: 40px;
}
/* 
Media query for offer section */

@media screen and (max-width: 1000px) {
    .facContent {
        grid-template-columns: repeat(2, 1fr);
    }

    .facContentWrapper img {
        width: 200px;
        height: 180px;
        object-fit: contain;
    }
}

@media screen and (max-width: 700px) {
    .facContent {
        grid-template-columns: 1fr;
    }

    .facility h1 {
        font-size: 30px;
        padding: 10px;
    }

    .facContentWrapper img {
        width: 180px;
        height: 160px;
        object-fit: contain;
    }

    .facContentWrapper p {
        font-size: 30px;
    }
    .testiHeader {
        font-size: 30px;
    }
}

   /* TESTIMONEY */

   .testiHeader {
       color: #55A8AE;
   }

   .testiName {
       font-style: italic;
       font-weight: bold;
       font-size: 16px;
   }
