/* Hex code of color used was  #55A8AE; */
/* The Logo is hand drawn */
/* All other resources should be downloaded on your own */
/* @import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
 */
 /* font-family: Ubuntu,
sans-serif;
font-family: Lora,
serif; */