
=======

body {
  font-family: Ubuntu, sans-serif, Lora, serif;
}
* {
  box-sizing: border-box;
}
h1 {
  font-weight: 700;
}
.container {
  position: relative;
}
.item-wrapper {
  position: relative;
  width: 100%;
}
.cover-wrapper {
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.253);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.explore-text {
  position: absolute;
  top: 192px;
  right: 14%;
  text-align: center;
  justify-content: center;
}
.explore-text h1 {
  font-size: 71px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.788);
}
.button {
  background-color: #55a8ae;
  color: white;
  border-radius: 15px;
  width: 116px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  height: 40px;
}
.slide-wrapper {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.span-div li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-bottom: 68px;
  background-color: rgba(255, 255, 255, 0.158);
  border: 2px solid black;
}
.span-div li:active {
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0.158);
}

=======
/* Hex code of color used was  #55A8AE; */
/* The Logo is hand drawn */
/* All other resources should be downloaded on your own */
/* @import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
 */
 /* font-family: Ubuntu,
sans-serif;
font-family: Lora,
serif; */


*{
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* RESERVATION SECTION */

.reservation-section{
   background: #f1f1f1;
     /* margin: 2rem;
     padding: 5rem; */
   
}

.reservation-section h1{
   color: #55A8AE;
   text-align: center;
   padding:2rem;
   padding-bottom: 0;
   margin-bottom: 0;
}

.flex-container{
    display:flex;
    padding-top: 0;
    margin-top: 0;
    padding:2rem;
    align-items: center;
}

.flex-container div{
    margin: 2rem;
 
}

.flex-container label{
    color: #4D4D4D;
}

.flex-container select {
    color: #fff;
    background-color: #55A8AE;
    border: #fff;
}

.flex-container input {
outline: #4D4D4D;
color:#55A8AE;

}

.flex-container input:focus {
    outline: #4D4D4D;
    cursor: pointer;
}

.flex-container button {
    background: #55A8AE;
    color: #fff;
    border: #fff;
    padding: 1rem;
}

.beds {
    width: 500px;
    height: 300px;
}


@media(max-width:900px){
    .flex-container{
        display: flex;
        flex-direction: column;
    }

    .flex-container div {
        margin: 0.5rem;

    }

    .col{
        width: 100%;
        margin: 0 auto;
    }

}

@media (max-width:600px){
    .col img {
        width: 100px;
       display: block;
    }
}


/* ROOM RATES SECTION */

.room-rates-section{
 
 margin: 2rem;
 /* padding: 5rem; */
}

.room-rates-section .first-heading{
    color: #55A8AE;
    font-size: 2rem;
    text-align: center;
    /* padding: 2rem; */
      padding-top: 0;
      margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;

}

.room-rates-section .first-paragraph{
        padding: 2rem;
   padding-top: 1rem;
   margin-top: 0;
padding-bottom: 3rem;
    font-size: small;
    text-align: center;
}

.col img{
    width: 200px;
    height: 300px;
}

img:hover {
   cursor: pointer;
}

.col h4{
    margin-bottom: 0;
    padding-bottom: 0;
}

.col span {
     margin-top: 0;
     padding-top: 0;
     display: inline-block;
}

.third-p{
    font-weight: bolder;
    font-size: smaller;
    color: coral;
}

.naira-logo{
    width: 10px;

}
=======
}

/* END OF ROOM RATES SECTION */


    /* Hex code of color used was  #55A8AE; */
    /* The Logo is hand drawn */
    /* All other resources should be downloaded on your own */
    /* @import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
 */

 /*font-family: Ubuntu,
sans-serif;
font-family: Lora,
serif; */

/* CONTACT PAGE STYLES */
.contact{
  font-family: Lora, serif; 
  background: #f0f0f0;
}

.contact-wrapper {
  margin: 30px 50px;
}

.contact-image {
  width: 100%;
}

#contact {
  color: #55A8AE;
}

.contact-left {
  background: #55A8AE;
}

.contact-btn {
  background: white;
}

    /* font-family: Ubuntu,
sans-serif;
font-family: Lora,
serif; */
    
    * {
        margin: 0;
        padding: 0;
        /* font-family: Ubuntu, sans-serif; */
        font-family: Lora, serif;
    }
    /* start of navbar and footer */
    
    nav {
        background-color: #55A8AE;
    }
    
    img {
        height: 60px;
        width: 60px;
        margin-left: 2em;
    }
    
    #header-ul {
        margin-left: 23em;
    }
    
    #header-li>a {
        font-size: 24px;
    }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* OFFER SECTION*/

.facility {
    width: 100%;
    overflow: hidden;

    color: #fff;
}

.facility h1 {
    font-size: 45px;
    padding: 20px;
    text-align: center;
    color: #55A8AE;
}

.facBg {
    background: url(./Resources/beige-concrete-building-3126553\ 1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.facContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 65px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 85px 45px;
}

.bar img {
    margin-left: 56px;
}

.facContentWrapper img {
    width: 250px;
    height: 200px;
    object-fit: contain;
}

.facContentWrapper p {
    font-size: 40px;
}
/* 
Media query for offer section */

@media screen and (max-width: 1000px) {
    .facContent {
        grid-template-columns: repeat(2, 1fr);
    }

    .facContentWrapper img {
        width: 200px;
        height: 180px;
        object-fit: contain;
    }
}

@media screen and (max-width: 700px) {
    .facContent {
        grid-template-columns: 1fr;
    }

    .facility h1 {
        font-size: 30px;
        padding: 10px;
    }

    .facContentWrapper img {
        width: 180px;
        height: 160px;
        object-fit: contain;
    }

    .facContentWrapper p {
        font-size: 30px;
    }
    .testiHeader {
        font-size: 30px;
    }
}


  
=======

   /* TESTIMONEY */

   .testiHeader {
       color: #55A8AE;
   }

   .testiName {
       font-style: italic;
       font-weight: bold;
       font-size: 16px;
   }



