
/* Hex code of color used was  #55A8AE; */
/* The Logo is hand drawn */
/* All other resources should be downloaded on your own */
/* @import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
 */
 /* font-family: Ubuntu,
sans-serif;
font-family: Lora,
serif; */
.h1{
    color: #55A8AE;
    text-align: center;
    font-family: sans-serif;
}
.facilities{
    background: url(Resources/beige-concrete-building-3126553.jpg) no-repeat;
    background-size: cover;
    height: 800px;
    min-height: 500px;
    margin-top: 5%;
}
.col-0{
    text-align: center;
    height: 70%;
    padding-top: 6%;
    margin-left: 10%;
}
.col-1{
    display: flex;
}
.col-2{
    display: flex;
    margin-top: 6%;
}
.text{
    display: flex;
    margin-left: 7%;
}
.text-2{
    display: flex;
    margin-left: 2%;
}
img{
    margin-right: 10%;
    display: block;
    max-width: 100%;
    text-align: center;
}
.img{
    filter: invert(100%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(100) contrast(100%);
}
.c{
    filter: brightness(0) invert(1);
}
.p-p, .p-b, .p-r, .p-s, .p-c, .p-w{
    color: white;
    font-size: 30pt;
    font-family: sans-serif;
}
.p-r{
    margin-left: 27%;
}
.p-p{
    margin-left: 28%;
}
.p-c{
    margin-left: 20%;
}
.p-w{
    margin-left: 27%;

/* ----------------------------------------------- */


/* CONTACT US SECTION */


/* ----------------------------------------------- */

.form {
    background-color: #f4f4f4;
    font-family: Ubuntu, sans-serif, Lora, serif;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.form-header {
    color: #55A8AE;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 5px;
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
}

.contact-content {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.contact-form {
    background-color: #55A8AE;
    height: 467px;
    width: 581px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form .contact-content img {
    max-width: 50%;
    height: auto;
}

input,
textarea,
button {
    width: 80%;
    padding: 20px;
    border: none;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
}

input[type=text] {
    margin-top: 20px;
}

textarea {
    height: 100px;
    font-family: Ubuntu, sans-serif, Lora, serif;
}

#btn {
    width: 88%;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
}

:focus {
    outline: none;
}

@media screen and (max-width:600px) {
    .contact-content {
        flex-direction: column;
    }
    .form .contact-content img {
        max-width: 100%;
        height: auto;
    }
    .contact-form {
        width: 100%;
    }

}