/* Hex code of color used was  #55A8AE; */
/* The Logo is hand drawn */
/* All other resources should be downloaded on your own */
/* @import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
 */
 /* font-family: Ubuntu,
sans-serif;
font-family: Lora,
serif; */
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");

header{
    position: absolute;
    width: 1440px;
    height: 762px;
    left: 0px;
    top: 2px;
   
    background-image:url("Resources/unsplash-bed1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#explore{
    position: absolute;
    width: 1187px;
    height: 122px;
    left: 105px;
    top: 312px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 122px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}
#bookNow{
    position: absolute;
    left: 590px;
    top: 550px;

    background: #55A8AE;
    font-family: Ubuntu,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-content: center;
    padding: 23px 20px;
    border: none;
    border-radius: 22%;
    color:#ffffff;
}